{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <h2 class="title"> Suggested movies</h2>
        <hr/>
        <div>
        <!-- Random movies -->
            <table class="styled">
                <thead>
                    <tr>
                        <td>Movie ID</td>
                        <td>Movie Name</td>
                        <td>Movie release year</td>
                    </tr>
                </thead>
                <tbody>
                    {% for instance in movies %}
                        <!-- Each row is a link to each individual movie page -->
                        <tr class="clickable-tr" data-href="{{ url_for('single_movie', movie_id=instance.movie_id)}}">
                            <td style="text-align: center">{{ instance.movie_id }}</td>
                            <td>{{instance.movie_title}}</td>
                            <td>{{instance.release_year}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
    
            </table>
    
        </div>
    </div>
</div>
{% include 'bottom.html'%}