{% include 'top.html' %}
    <div class="content">
        <h1 class="title">Search Songs</h1>

        <form class="Search" method="POST" action="{{url_for('search_songs')}}">
            <input type="text" name="searchterm" placeholder="Songs" autofocus required>
            <button class="flat" type="submit">Search</button>
        </form>
            {% if songs | length > 0 %}
                <table class="styled">
                    <thead>
                        <tr>
                            <td>Song ID</td>
                            <td>Song Name</td>
                            <td>Song Length</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for instance in songs %}
                            <tr class="clickable-tr" data-href="{{ url_for('single_song', song_id=instance.song_id)}}">
                                <td style="text-align: center">{{ instance.song_id }}</td>
                                <td>{{instance.song_title}}</td>
                                <td>{{instance.length}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
        
                </table>
            {% endif %}
    </div>
{% include 'bottom.html'%}
