{% include 'top.html' %}
    <div class="content">
        <h1 class="title">Search Movies</h1>

        <!-- Query 10
            Search for Movies
            You need two sections
            First is a form to take in input
            Second is a table to display results
         -->
         <form class="Search" method="POST" action="{{url_for('search_movies')}}">
            <input type="text" name="searchterm" placeholder="movies" autofocus required>
            <button class="flat" type="submit">Search</button>
        </form>
            {% if movie | length > 0 %}
                <table class="styled">
                    <thead>
                        <tr>
                            <td>Movie ID</td>
                            <td>Movie Name</td>
                            <td>Movie Release Year</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for instance in movie %}
                            <!-- Each row is a link to each individual tvshow page -->
                            <tr class="clickable-tr" data-href="{{ url_for('single_movie', movie_id=instance.movie_id)}}">
                                <td style="text-align: center">{{ instance.movie_id }}</td>
                                <td>{{instance.movie_title}}</td>
                                <td>{{instance.release_year}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
        
                </table>
            {% endif %}
    </div>
{% include 'bottom.html'%}
