{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <!-- TODO Query 7
        Display All Relevant Podcast Episode Infromation including meta data
        -->
        {% if podcastep | length > 0%}
            <h2 class="title"> {{podcastep[0].podcast_episode_title}} is publised on {{podcastep[0].podcast_episode_published_date}} </h2>
            <br/>
            <h2 class="title"> Length : {{podcastep[0].podcast_episode_length}} </h2>
            
            <h2 class="title"> URL: {{podcastep[0].podcast_episode_uri}}</h2>
            </br/>
            
            <h3> Description</h3>
            {% for instance in podcastep %}
                    <div>
                        {{instance.md_value}}
                    </div>
            {% endfor %}
        {% else %}
            <h2 class="title"> Invalid Podcast Ep ID</h2>
        {% endif %}
    </div>
</div>
{% include 'bottom.html'%}
